*{
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1194px;
  margin: auto;
}

.header{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.search-form{
  position: relative;
  display: flex;
  margin-left: 76px;
  max-width: 620px;
  flex-grow: 1;
  background: #EEEEEEB5;
  border-radius: 10px;
}

.search-input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.search-button{
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}

.auth{
  margin-left: auto;
}

.login{
  background: #EBEBEB;
  border-radius: 50px;
  padding: 16px 30px;
  display: block;
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.shopping-cart{
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background: #F66A15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
  text-decoration: none;
}

.shopping-counter{
  position: absolute;
  right: 0;
  bottom: 0;
  background: #FFAF19;
  font-size: 8px;
  line-height: 9px;
  color: #000000;
  display: block;
  padding: 5px;
  border-radius: 50%;
}

.slide{
  position: relative;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  min-height: 400px;
  align-items: center;
  padding: 100px;
}

.slide-text-light{
  color: #fff;
}

.slide-content{
  position: relative;
  max-width: 400px;
}

.slide-title{
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 50px;
  line-height: 51px;
}

.slide-text{
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
}

.button-primary{
  background: #F47322;
  color: #fff;
}

.button-default{
  background-color: #fff;
  color: #5F5F61;
}

.button{
  border-radius: 25px;
  padding: 12px 50px;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
}

.slide-summer{
  background-image: url(../img/slide-summer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slide::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%)
}

.promo{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: -20px;
}

.card{
  flex: 50%;
  margin: 20px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  padding: 32px;
  max-width: 570px;
  min-height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:before{
  z-index: -1;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3))
}

.card-text-light{
  color: #fff;
}

.card-title{
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 21px;
}

.card-text{
  max-width: 200px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.card-price{
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
}

.card-delivery{
  display: block;
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}

.card-image{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  object-fit: cover;
}

.delivery-week{
  padding: 100px 0;
}

.section-title{
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}

.delivery-cards{
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.delivery-card{
  margin: 15px;
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
}

.delivery-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delivery-tag{
  position: absolute;
  left: 10px;
  top: 16px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #49494F;
  padding: 5px 10px;
}

.tag-health{
  background: #D0FD89;
}

.tag-vegetables{
  background: #AEBC41;
  color: #fff;
}

.tag-meat{
  background: #B86B78;
  color: #fff;
}

.tag-bird{
  background: #D68334;
  color: #fff;
}

.tag-fish{
  background: #CD6255;
  color: #fff;
}

.tag-kid{
  background: #FFFDBF;
  color: #49494F;
}

.tag-parent{
  background: #F6FDC8;
  color: #49494F;
}

.tag-holiday{
  background: #FEF7FE;
  color: #49494F;
}

.section-grey{
  background: #F6F6F6;
}

.category{
  padding-top: 40px;
  padding-bottom: 50px;
}

.section-title{
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
}

.tabs{
  display: flex;
  margin: 0;
  margin-bottom: 62px;
  padding: 0;
  list-style-type: none;
}

.tabs-link{
  font-size: 20px;
  line-height: 23px;
  color: #49494F;
  text-decoration: none;
  margin-right: 58px;
}

.tabs-link.active{
  color: #F37321;
}

.tabs-content {
  display: flex;
  justify-content: space-between;
  margin: -15px;
}

.tabs-card{
  margin: 15px;
  max-width: 270px;
  background: #FFFFFF;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.tabs-image{
  max-width: 100%;
}

.tabs-card-content{
  padding: 23px;
}

.tabs-title{
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.tabs-text{
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #B9B9BE;
}

.tabs-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs-price{
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4B4B51;
  display: block;
  margin-bottom: 5px;
}

.tabs-weight{
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #AAAAB1;
}

.button-outline{
  cursor: pointer;
  background-color: transparent;
  padding: 15px 25px;
  border: 2px solid #F37321;
  box-sizing: border-box;
  border-radius: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #F37321;
}

.button-center{
  display: block;
  margin: auto;
  margin-top: 60px;
  width: 315px;
}

.benefits{
  padding-top: 100px;
  padding-bottom: 200px;
}

.benefits-title{
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 50px;
  margin-top: 0;
}

.benefit{
  display: flex;
  justify-content: space-between;
  margin: -15px;
}

.benefit-card{
  margin: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 270px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  overflow: hidden;
}

.benefit-image{
  max-width: 100%;
  width: 60px;
  height: 60px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 34px;
}

.benefit-title{
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
  padding: 0 35px;
}

.benefit-text{
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #49494F;
  padding: 0 24px;
  margin-top: 0;
  margin-bottom: 25px;
}

.footer{
  background: #F6F6F6;
  padding: 40px 0;
}

.footer-wrapper{
  display: flex;
  align-items: center;
}

.footer-logo{
  margin-right: 50px;
}

.footer-link{
  margin-right: 50px;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}

.social-links{
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social-link{
  margin-left: 20px;
  text-decoration: none;
}